<header>
<!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item mr-4 ml-5">
         <a href="https://www.facebook.com/haqeqat1/" target="_blank"> <i class="fab fa-facebook"></i> </a>
        </li>
        <li class="nav-item mr-4">
          <a href="https://www.youtube.com/channel/UCywi4IdlP1fjtvF3hwhjsbA " target="_blank"><i class="fab fa-youtube"></i></a>
        </li>
        <li class="nav-item mr-4">
           <a href="https://www.instagram.com/bilalkhan9073/" target="_blank"><i class="fab fa-instagram"></i></a> 
          </li>
          <li class="nav-item mr-4">
             <a href="https://twitter.com/bilalkhan727" target="_blank"> <i class="fab fa-twitter-square"></i> </a>
            </li>
      </ul>
      <span class="text-center ml-auto nav-text">  سب ایک ساتھ</span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a class="nav-link text-dark navbar-logo-link" href="#"><img class="navbar-logo" src="../../assets/arslogo.svg" alt="mainlogo"></a>
        </li>
      </ul>
    </div>
  </nav>
</header>