/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'urdufont';
    src: url('../src/assets/500-Urdu-Unicode-Fonts/nafees6.ttf');
}
body {
    font-family:'urdufont','Noto Sans','Calibri', sans-serif;
    background-color:#e9ebee;
    font-weight: bold;
 }
 ul li{
     list-style: none;
 }
